{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-md-12">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">忘记密码</li>
  </ol>
</div>
<form class="form-horizontal" action="" method="POST">{% csrf_token %}
  <div class="form-group">
    <label class="col-md-1 control-label">邮箱</label>
    <div class="col-md-10">
      <input type="email" class="form-control" placeholder="建议使用您常用的邮箱" name="email" />
    </br>
      <input type="submit" value="提交"/>
    </div>
  </div>
</form>
{% endblock %}
