{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-md-12">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">忘记密码</li>
  </ol>
</div>
<form class="form-horizontal" action="" method="POST">{% csrf_token %}
  <div class="form-group">
    <label class="col-md-1 control-label">旧密码</label>
    <div class="col-md-10">
      <input type="password" class="form-control" placeholder="输入密码" name="old_password" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-1 control-label">密码</label>
    <div class="col-md-10">
      <input type="password" class="form-control" placeholder="输入密码" name="new_password1" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-1 control-label">确认密码</label>
    <div class="col-md-10">
      <input type="password" class="form-control" placeholder="再次输入密码" name="new_password2" />
    </div>
  </div>
  <div class="form-group">
    <input type="submit" value="提交" />
  </div>
</form>
{% endblock %}
