{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-md-12">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">{{b.name}}</li>
  </ol>
  <a class="btn btn-primary" href="/article/createpage/{{b.id}}" role="button">发表文章</a>
  <br />
  <br />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>标题</th>
        <th>作者</th>
        <th>创建时间</th>
        <th>最后更新时间</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td><a href="/article/detail/{{article.id}}">{{article.title}}</a></td>
        <td>{{article.owner}}</td>
        <td>{{article.create_timestamp|date:"Y-m-d P"}}</td>
        <td>{{article.last_update_timestamp|date:"Y-m-d P"}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if pagination_date.has_previous %}
      <li><a href="?page_no=1">首页</a></li>
      <li>
        <a href="?page_no={{pagination_date.previous_link}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for j in pagination_date.page_links %}
        {% ifequal j pagination_date.current_no %}
        <li class="active"><a href="?page_no={{j}}">{{j}}</a></li>
        {% else %}
        <li><a href="?page_no={{j}}">{{j}}</a></li>
        {% endifequal %}
        {% endfor %}
        {% if pagination_date.has_next %}
        <li>
          <a href="?page_no={{pagination_date.next_link}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li><a href="?page_no={{pagination_date.page_cnt}}">尾页</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
